.root {
    -fx-fill: white;
}

#alive-cell {
    -fx-background-color: red;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

#dead-cell {
    -fx-background-color: whitesmoke;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}